In [1]:
import numpy as np
import pandas as pd

In [8]:
data=pd.read_csv(r'C:\Users\shadi\Desktop\Vegitto (2).csv')

In [9]:
data.head(3)

,نام غذا,مواد اولیه,دستور,کالری برای یک نفر,سریع,لینک,وعده غذایی,نوع رژیم گیاهخواری,تعداد نفرات,کشور,کربوهیدرات,چربی,عکس
0,سوسیس گیاهی,سوسیس گیاهی/دو قوطی کبریت\nگوجه گیلاسی/پنج عدد...,-سوسیس گیاهی را سرخ کنید.\n-قارچ را تفت دهید.,400.0,1.0,https://boshghabesabz.com/vegan-sausage/,صبحانه,وگان,1.0,ایران,NaN,NaN,https://www.parsine.com/files/fa/news/1397/4/9...
1,باقلا خشکابیج با برنج قهوه ای,لوبیا چشم بلبلی/یک پیمانه\nسیر/پنج حبه\nزردچوب...,-لوبیا چشم بلبلی را خیس کنید و پوست بگیرید، می...,328.0,3.0,https://boshghabesabz.com/vegan-baghela-khoshk...,وعده اصلی,وگان,2.0,ایران,NaN,NaN,https://persianv.com/ashpazi/wp-content/upload...
2,حلیم شیر گیاهی,شیره افرا (یا شکر)/یک قاشق غذاخوری\nآب لیموترش...,-پیاز را نگینی خُرد کنید و با کمی روغن سرخ کنی...,500.0,7.0,https://boshghabesabz.com/vegan-milk-halim/,صبحانه,وگان,2.0,ایران,NaN,NaN,https://www.beytoote.com/images/stories/food/f...

In [10]:
data.drop(['دستور','لینک','عکس','چربی','کربوهیدرات','تعداد نفرات'],axis=1,inplace=True)

In [11]:
data.insert(0,'ID', range(1,1+len(data)))

In [12]:
data.head(2)

,ID,نام غذا,مواد اولیه,کالری برای یک نفر,سریع,وعده غذایی,نوع رژیم گیاهخواری,کشور
0,1,سوسیس گیاهی,سوسیس گیاهی/دو قوطی کبریت\nگوجه گیلاسی/پنج عدد...,400.0,1.0,صبحانه,وگان,ایران
1,2,باقلا خشکابیج با برنج قهوه ای,لوبیا چشم بلبلی/یک پیمانه\nسیر/پنج حبه\nزردچوب...,328.0,3.0,وعده اصلی,وگان,ایران

In [13]:
d = data['مواد اولیه'].str.rsplit("\n")

In [14]:
for i in range(len(d)):
    for j in range(len(d[i])):
        d[i][j]=d[i][j].split("/")[0]

In [15]:
ingredients={
    'rice':['برنج'],
    'flour':['آرد','پودر ذرت','پودر سبوس جو','پودر سوخاری'],
    'beetroot':['شلغم','چغندر','لبو'],
    'mushroom':['قارچ'],
    'meat':['کالباس','میت','سوسیس'],
    'squash':['کدو'],
    'chocolate':['شکلات','کاکائو'],
    'egg':['تخم مرغ'],
    'garlic':['سیر'],
    'dairy':['توفو','شیر','شیر کنجد','شیر سویا','شیر نارگیل','شیر بادام','ماست','کشک','پنیر سویا','پنیر'],
    'legume':['باقلا','حبوبات','لوبیا','لپه','سیاه دانه','نخود','عدس'],
    'oil':['روغن زیتون','روغن کنجد','روغن','کره'],
    'greens':['لوبیا سبز','بامیه','سبزیجات','اسفناج','برگ نعناع','تربچه','جعفری','جلبک دریایی','روکولا','ریحان','نعناع','زیتون','سبزی','گشنیز','کاهو','پیازچه','شنبلیله','شوید','کرفس','کلم','واسابی','آمارانت'],
    'tomato':['رب گوجه','گوجه'],
    'eggplant':['بادمجان'],
    'bellpepper':['فلفل دلمه'],
    'nuts':['آجیل','تخم آفتابگردان','تخم شربتی','تخم چیا','تخم کتان','تخم کدو','تخم گشنیز','دانه خردل','دانه چیا','دانه کنف','فندق','مغزیجات','پسته','گردو','بادام','کنجد'],
    'noodle':['رشته','ورمیشل','پاستا','نودل'],
    'bread':['نون','نان'],
    'grain':['بلغور','جو','جوانه','جوانه آلفا','جوانه شبدر','جوانه ماش','سویا','گندم','ذرت','گیاهک گندم','کورن فلکس','کینوا'],
    'other':['سیب زمینی','هویج'],
    'fruits':['آناناس','آووکادو','به','توت فرنگی','هندوانه','گلابی','گریپ فروت','کیوی','پرتقال','نارگیل','موز','سیب','خیار','هندونه','تمشک','توت'],
    'sweetener':['خرما','مربا','شیرین کننده','افرا','شیره','شکر','عسل','شهد','کشمش','گل محمدی','هل','گلاب','مویز'],
    'sour':['آبغوره','آلبالو','آلو','بالزامیک','ترشی','تمرهندی','دانه انار ترش','آلوچه','رب انار','زرشک','سرکه','سبزی ترش واش','قیصی','نارنج','لیمو','خیار شور','خیارشور','انار'],
    'spices':['کاری','سماق','پودر آویشن','آگار','ادویه','زعتر','زردچوبه','زعفران','زنجبیل','نمک','اورگانو','زیره','فلفل','گلپر','پودر کاری','دارچین','ماسالا','پاپریکا','نعناع','پودر پونه','پودر پیاز','پودر گوجه فرنگی','آویشن'],
    'sauce':['سس سویا','سس مایونز','سس چیلی','سس کنجد','سس کچاپ','سس گوجه','سویا سس'],
    'pepper':['فلفل تازه','فلفل سبز','فلفل قرمز هندی','فلفل چیلی سبز'],
    
}

In [16]:
for k in range(len(d)):
    for i in range(len(d[k])-1,-1,-1):
        for j in ingredients.keys():
            for x in ingredients[j]:
                if x in d[k][i]:
                    d[k][i]=j
        if d[k][i] not in ingredients.keys():
            del d[k][i]

In [17]:
for i in range(d.shape[0]):
    data['مواد اولیه'][i]=d[i]

C:\Users\shadi\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
icm=data.copy()
for index, row in data.iterrows():
    for ingred in row['مواد اولیه']:
        icm.at[index, ingred] = 1
icm=icm.fillna(0)
icm.drop(['نام غذا','مواد اولیه'],axis=1,inplace=True)
icm.rename(columns={'کالری برای یک نفر':'calorie',
                   'سریع':'time',
                   'وعده غذایی':'meal',
                   'نوع رژیم گیاهخواری':'type',
                   'کشور':'region'},inplace=True)

In [19]:
icm.head(2)

,ID,calorie,time,meal,type,region,meat,tomato,mushroom,greens,...,flour,sweetener,eggplant,sauce,bellpepper,squash,chocolate,noodle,beetroot,egg
0,1,400.0,1.0,صبحانه,وگان,ایران,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,328.0,3.0,وعده اصلی,وگان,ایران,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
icm=pd.get_dummies(icm,columns=['region','meal'] , drop_first=False)

In [21]:
icm.head(2)

,ID,calorie,time,type,meat,tomato,mushroom,greens,nuts,oil,...,meal_اسموتی,meal_دسر,meal_سالاد,meal_ساندویچ,meal_سس,meal_سوپ,meal_صبحانه,meal_فست فود,meal_وعده اصلی,meal_کیک
0,1,400.0,1.0,وگان,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,1,0,0,0
1,2,328.0,3.0,وگان,0.0,0.0,0.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0

In [22]:
##remove this later
icm.drop(['calorie','type','time'],axis=1,inplace=True)

In [23]:
icm.columns

Index(['ID', 'meat', 'tomato', 'mushroom', 'greens', 'nuts', 'oil', 'legume',
       'garlic', 'fruits', 'spices', 'rice', 'dairy', 'sour', 'bread', 'other',
       'grain', 'flour', 'sweetener', 'eggplant', 'sauce', 'bellpepper',
       'squash', 'chocolate', 'noodle', 'beetroot', 'egg', 'region_ایران',
       'meal_آبمیوه', 'meal_آش', 'meal_اسموتی', 'meal_دسر', 'meal_سالاد',
       'meal_ساندویچ', 'meal_سس', 'meal_سوپ', 'meal_صبحانه', 'meal_فست فود',
       'meal_وعده اصلی', 'meal_کیک'],
      dtype='object')

In [26]:
points=pd.read_csv(r'C:\Users\shadi\Desktop\points.csv')

In [27]:
points.head(2)

   Food ID  B  C  D  E  F  G  H  I  J
0        1  1  1 -1  1  1  1 -1  0  1
1        2 -1  0 -1  1  1 -1  1  0 -1

In [28]:
urm=points.copy()
urm=pd.DataFrame(urm)
urm.drop('Food ID',axis=1,inplace=True)

In [29]:
urm.head(2)

   B  C  D  E  F  G  H  I  J
0  1  1 -1  1  1  1 -1  0  1
1 -1  0 -1  1  1 -1  1  0 -1

In [30]:
icm.head(2)

,ID,meat,tomato,mushroom,greens,nuts,oil,legume,garlic,fruits,...,meal_اسموتی,meal_دسر,meal_سالاد,meal_ساندویچ,meal_سس,meal_سوپ,meal_صبحانه,meal_فست فود,meal_وعده اصلی,meal_کیک
0,1,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
1,2,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,1,0

## testing a user

In [31]:
random_user=[
    {'id':19,'point':1},
    {'id':64,'point':1},
    {'id':70,'point':1},
    {'id':98,'point':-1}
]

random_user= pd.DataFrame(random_user)

In [32]:
random_user2=[
    {'id':13,'point':1},
    {'id':82,'point':1},
    {'id':91,'point':1},
    {'id':94,'point':1},
    {'id':111,'point':-1},
    {'id':117,'point':-1},
]
random_user2= pd.DataFrame(random_user2)

In [33]:
random_user3=[
    {'id':6,'point':1},
    {'id':5,'point':1},
    {'id':151,'point':1},
    {'id':3,'point':-1},
    {'id':15,'point':-1},
    {'id':17,'point':-1},
]
random_user3= pd.DataFrame(random_user3)

In [34]:
random_user2

    id  point
0   13      1
1   82      1
2   91      1
3   94      1
4  111     -1
5  117     -1

In [35]:
userfeature=icm[icm['ID'].isin(random_user['id'].tolist())]
userfeature2=icm[icm['ID'].isin(random_user2['id'].tolist())]
userfeature3=icm[icm['ID'].isin(random_user3['id'].tolist())]
userfeature=userfeature.reset_index(drop=True).drop('ID',1)
userfeature2=userfeature2.reset_index(drop=True).drop('ID',1)
userfeature3=userfeature3.reset_index(drop=True).drop('ID',1)

In [36]:
userfeature2

,meat,tomato,mushroom,greens,nuts,oil,legume,garlic,fruits,spices,...,meal_اسموتی,meal_دسر,meal_سالاد,meal_ساندویچ,meal_سس,meal_سوپ,meal_صبحانه,meal_فست فود,meal_وعده اصلی,meal_کیک
0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,0,0,0
1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
2,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0,0,1,0,0,0,0,0,0,0
3,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,1,0,0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0,0,1,0,0,0,0,0,0,0
5,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,1,0,0,0,0,0,0,0

In [37]:
userProfile=userfeature.transpose().dot(random_user['point'])
userProfile2=userfeature2.transpose().dot(random_user2['point'])
userProfile3=userfeature3.transpose().dot(random_user3['point'])

In [38]:
userProfile

meat              0.0
tomato            0.0
mushroom         -1.0
greens           -1.0
nuts              3.0
oil               1.0
legume            0.0
garlic            0.0
fruits            0.0
spices            0.0
rice              0.0
dairy             2.0
sour             -1.0
bread             0.0
other            -1.0
grain             0.0
flour             0.0
sweetener         1.0
eggplant          0.0
sauce             0.0
bellpepper       -1.0
squash            0.0
chocolate         0.0
noodle           -1.0
beetroot          0.0
egg               0.0
region_ایران      2.0
meal_آبمیوه       0.0
meal_آش           0.0
meal_اسموتی       0.0
meal_دسر          0.0
meal_سالاد        0.0
meal_ساندویچ      0.0
meal_سس           0.0
meal_سوپ          0.0
meal_صبحانه       3.0
meal_فست فود      0.0
meal_وعده اصلی   -1.0
meal_کیک          0.0
dtype: float64

In [39]:
recommendation=(((icm.drop(icm[icm['ID'].isin(random_user['id'].tolist())].index).set_index('ID')*userProfile).sum(1)/(userProfile.sum())).sort_values(ascending=False)).reset_index(drop=False)
recommendation2=(((icm.drop(icm[icm['ID'].isin(random_user2['id'].tolist())].index).set_index('ID')*userProfile2).sum(1)/(userProfile2.sum())).sort_values(ascending=False)).reset_index(drop=False)
recommendation3=(((icm.drop(icm[icm['ID'].isin(random_user3['id'].tolist())].index).set_index('ID')*userProfile3).sum(1)/(userProfile3.sum())).sort_values(ascending=False)).reset_index(drop=False)

In [40]:
recommendation.head(2)

   ID    0
0  46  2.4
1  66  2.2

In [41]:
data.head(2)

,ID,نام غذا,مواد اولیه,کالری برای یک نفر,سریع,وعده غذایی,نوع رژیم گیاهخواری,کشور
0,1,سوسیس گیاهی,"[meat, tomato, mushroom, greens, nuts, oil]",400.0,1.0,صبحانه,وگان,ایران
1,2,باقلا خشکابیج با برنج قهوه ای,"[legume, garlic, fruits, spices, spices, green...",328.0,3.0,وعده اصلی,وگان,ایران

In [42]:
recommended_item=data[data['ID'].isin(recommendation['ID'].head(5).tolist())]
recommended_item2=data[data['ID'].isin(recommendation2['ID'].head(5).tolist())]
recommended_item3=data[data['ID'].isin(recommendation3['ID'].head(5).tolist())]

In [43]:
recommended_item

,ID,نام غذا,مواد اولیه,کالری برای یک نفر,سریع,وعده غذایی,نوع رژیم گیاهخواری,کشور
35,36,اسموتی موز و آناناس و توت فرنگی و شیر نارگیل,"[fruits, bread, dairy, fruits, nuts, fruits, n...",270.0,1.0,صبحانه,وگان,ایران
41,42,نان موزی گیاهی,"[fruits, sweetener, oil, flour, nuts]",270.0,3.0,صبحانه,وگان,ایران
45,46,کوکی میکری گیاهی,"[flour, fruits, sweetener, oil, nuts, sweetene...",530.0,3.0,صبحانه,وگان,ایران
59,60,توپک خرمایی,"[sweetener, nuts, flour, dairy, spices, fruits...",2618.0,NaN,صبحانه,وگان,ایران
65,66,فرنی گیاهی,"[rice, flour, nuts, dairy, sweetener, dairy, s...",251.0,NaN,صبحانه,وگان,ایران

In [44]:
recommended_item2

,ID,نام غذا,مواد اولیه,کالری برای یک نفر,سریع,وعده غذایی,نوع رژیم گیاهخواری,کشور
0,1,سوسیس گیاهی,"[meat, tomato, mushroom, greens, nuts, oil]",400.0,1.0,صبحانه,وگان,ایران
38,39,زرشک پلو با قارچ,"[mushroom, nuts, tomato, spices, spices, fruit...",260.0,2.0,وعده اصلی,وگان,ایران
101,102,مینی پیتزای گیاهی سریع,"[tomato, grain, garlic, oil, spices, spices, b...",551.0,NaN,فست فود,وگان,ایران
107,108,سس پستوی گوجه فرنگی لازانیا,"[greens, nuts, oil, spices, spices, garlic, to...",342.0,NaN,سس,وگان,ایران
125,126,نودل سبزیجات,"[garlic, tomato, mushroom, greens, sour, noodl...",123.0,NaN,وعده اصلی,وگان,ایران

In [45]:
recommended_item3

,ID,نام غذا,مواد اولیه,کالری برای یک نفر,سریع,وعده غذایی,نوع رژیم گیاهخواری,کشور
0,1,سوسیس گیاهی,"[meat, tomato, mushroom, greens, nuts, oil]",400.0,1.0,صبحانه,وگان,ایران
3,4,باقلا پلو با ته دیگ زعفرانی,"[meat, tomato, mushroom, greens, nuts, oil]",225.0,2.0,وعده اصلی,وگان,ایران
26,27,پلو مخلوط گیاهی,"[other, greens, spices, spices, spices, spices...",230.0,4.0,وعده اصلی,وگان,ایران
50,51,لوبیا پلو شیرازی,"[rice, legume, spices, greens, oil, other, flo...",400.0,NaN,وعده اصلی,وگان,ایران
58,59,خورشت لپه و سیب زمینی گیاهی,"[legume, tomato, tomato, sour, sour, other, oil]",435.0,NaN,وعده اصلی,وگان,ایران

In [46]:
recommended_item['نام غذا'].tolist()

['اسموتی موز و آناناس و توت فرنگی و شیر نارگیل',
 'نان موزی گیاهی',
 'کوکی میکری گیاهی',
 'توپک خرمایی',
 'فرنی گیاهی']

,ID,نام غذا,مواد اولیه,کالری برای یک نفر,سریع,وعده غذایی,نوع رژیم گیاهخواری,کشور
0,1,سوسیس گیاهی,"[meat, tomato, mushroom, greens, nuts, oil]",400.0,1.0,صبحانه,وگان,ایران
3,4,باقلا پلو با ته دیگ زعفرانی,"[meat, tomato, mushroom, greens, nuts, oil]",225.0,2.0,وعده اصلی,وگان,ایران
26,27,پلو مخلوط گیاهی,"[other, greens, spices, spices, spices, spices...",230.0,4.0,وعده اصلی,وگان,ایران
50,51,لوبیا پلو شیرازی,"[rice, legume, spices, greens, oil, other, flo...",400.0,NaN,وعده اصلی,وگان,ایران
58,59,خورشت لپه و سیب زمینی گیاهی,"[legume, tomato, tomato, sour, sour, other, oil]",435.0,NaN,وعده اصلی,وگان,ایران